NEXT_PUBLIC_SITE_URL=https://charlottealdred.com
NEXT_PUBLIC_CONTACT_EMAIL=hello@charlottealdred.com
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/charlotte-aldred-b055151b/
NEXT_PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/xqpzdbbd
NEXT_PUBLIC_INTRO_CALL_URL=https://calendar.app.google/sHEzKAsREm4a5LAB7
